.list-item {
	display: grid;
	grid-template-columns: 10% 25% 25% 15% 25%;
	padding-left: 1px;
	margin: 10px auto;
}

.list-item .list-title {
	display: flex;
	align-items: center;
}

.list-item-selection {
	display: grid;
	grid-template-columns: 25% 25% 15% 35%;
	padding: 10px 0;
}

.list-item-selection div {
	display: flex;
	align-items: center;
}

.list-item-selection div:not(.list-title) {
	justify-content: center;
}

.list-item-selection .list-title {
	margin-left: 30px;
}
