.list-item {
	display: grid;
	grid-template-columns: 10% 25% 25% 15% 25%;
	padding-left: 1px;
	margin: 10px auto;
}

.list-item .list-title {
	display: flex;
	align-items: center;
}

.list-item-selection {
	display: grid;
	grid-template-columns: 25% 25% 15% 35%;
	padding: 10px 0;
	font-size: 14px;
	width: calc(100% + 11px);
}

.list-item-selection div {
	display: flex;
	align-items: center;
}

.list-item-selection div:not(.list-title) {
	justify-content: center;
	font-size: 16px;
	font-weight: 800;
}

.list-item-selection .list-title {
	margin-left: 30px;
}

.mal-link {
	color: #172b4d;
	text-decoration: none;
	transition: color ease 100ms;
	padding-bottom: 3px;
	border-bottom: 2px solid #11cdef;
	transition: all 300ms ease;
}

.mal-link:hover {
	color: #11cdef;
	border-bottom: 2px solid #172b4d;
}
