.list-container {
	/* max-height: 45vh; */
	height: 45vh;
	overflow-y: auto;
	overflow-x: hidden;
}

.list-container::-webkit-scrollbar-track {
	border-radius: 10px;
}

.list-container::-webkit-scrollbar {
	width: 12px;
	background-color: #c0bdbd;
	border-radius: 5px;
}

.list-container::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #11cdef;
}

.item:nth-child(even) {
	background-color: #f1f3f9;
}
